<script setup lang="ts">

</script>

<template>
  <Menu />
  <p class="read-the-docs">Click on the Vite and Vue logos to learn more</p>
  <Button icon="pi pi-check" aria-label="Submit" />
  <Button label="Submit" icon="pi pi-check" />
  <Button label="Submit" icon="pi pi-check" iconPos="right" />
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
