<template>
  <div
    class="card flex flex-wrap align-items-center justify-content-center gap-3"
  >
    <InlineMessage severity="success">Success Content</InlineMessage>
    <InlineMessage severity="info">Info Content</InlineMessage>
    <InlineMessage severity="warn">Warning Content</InlineMessage>
    <InlineMessage severity="error">Error Content</InlineMessage>
  </div>
</template>

<script lang="ts">
export default {};
</script>
