<script setup lang="ts">
import Nabvar from "./components/Nabvar.vue";
import InlineMessage from "./components/InlineMessage.vue";
</script>

<template>
  <Nabvar />
  <InlineMessage />
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  <HelloWorld msg="Vite + Vue" />

  <div class="flex flex-wrap align-items-center justify-content-center gap-3">
    <Button icon="pi pi-check" aria-label="Submit" />
  <Button label="Submit" icon="pi pi-check" />
  <Button label="Submit" icon="pi pi-check" iconPos="right" />
  </div>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
